.Grid {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: #04d9ff;
    position: absolute;
}

.Controls {
    height: 7vh;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}

.Controls>button{
    margin-left: 1.5%;
    background-color: black;
    color: #04d9ff;
    padding: 0.5%;
    border-radius: 5%;
}
.Controls>button:hover{
    color: red;
}