.Grid {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: #04d9ff;
    position: absolute;
}

.Controls {
    height: 10vh;
    align-content: center;
    margin-top: 1%;
}